.main {
    width: 100%;
    height: 100%;
    background-color: var(--user-color-lightest);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main p {
    color: var(--user-color-darkest);
    margin: 0;
}

.main[data-dark="true"] {
    background-color: var(--user-color-darkest);
}
.main[data-dark="true"] p {
    color: var(--user-color-lightest);
}

.main > div {
    display: flex;
    flex-direction: row;
}

.main > p:last-child {
    margin-top: 8px;
}

p.time {
    --distance: 20px;
    font-size: 3.5rem;
    font-family: 'Rubik', sans-serif;
    line-height: 45px;
    transition: 1000ms;
    color: var(--user-color-normal) !important;
}

p.time.one {
    transform:
            translateX( calc(var(--distance) * -1) )
            translateY( calc(var(--distance) * -1) );
}
p.time.two {
    transform:
            translateX( calc(var(--distance) * 1) )
            translateY( calc(var(--distance) * -1) );
}
p.time.three {
    transform:
            translateX( calc(var(--distance) * -1) )
            translateY( calc(var(--distance) * 1) );
}
p.time.four {
    transform:
            translateX( calc(var(--distance) * 1) )
            translateY( calc(var(--distance) * 1) );
}

.main[data-big="true"] p.time {
    font-size: 5rem;
    line-height: 65px;
}
.main[data-big="true"] > p:last-child {
    margin-top: 14px;
}