
/* Default Colors */

:root {
    --color-primary: #0b57d0;
    --color-on-primary: #ffffff;
    --color-primary-light: #001d35;
    --color-on-primary-light: #cce5fa;
    --color-card: #262626;
    --color-on-card: #f3f3f3;
    --color-background: #000000;
    --color-on-background: #ffffff;
    --color-outline: #7b7e81;
    --color-error: #c2153a;
    --color-on-error: #ffffff;

    --color-hover-background: rgba(0, 0, 0, 0.2);
}

/* User Color */

body {
    --user-color-darkest: #2b1408;
    --user-color-darker: #57270f;
    --user-color-dark: #823b17;
    --user-color-normal: #d96226;
    --user-color-light: #e8a17d;
    --user-color-lighter: #f0c0a8;
    --user-color-lightest: #f7e0d4;
}